@font-face {
    font-family: 'color_basicregular';
    src: url('../fonts/color_basic-webfont.eot');
    src: url('../fonts/color_basic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/color_basic-webfont.woff2') format('woff2'),
         url('../fonts/color_basic-webfont.woff') format('woff'),
         url('../fonts/color_basic-webfont.ttf') format('truetype'),
         url('../fonts/color_basic-webfont.svg#color_basicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}