 /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        #masthead{
            text-align: center; 

            .wrapper-line{
                padding: 0;
                padding-bottom: 5px; 
            }

            .site-branding{
                display: block; 
                margin: 0 auto;
                width: 100%;
                max-width: 100%;
            }

            nav{
                float: none; 
                width: 100%;
                display: block; 

                li{
                    width: 100%;
                    float: none; 
                }

                .current_page_item a{
                    border: 0;
                    background-color: #222;
                }a:hover{
                    border-bottom: none; 
                }
            }

        }

        .container{
            padding: 2px !important; 
        }

        /**********************
        * News Shortcode
        **********************/
        .tn-image{
            height: auto !important;
        }
        .article-wrapper{
            height: auto !important;
        }

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }