#masthead{

	@extend .p-def-padding;
	@extend .container; 

	img{
		height: 150px;
		width: auto; 
	}

	.site-branding{
		display: inline-block; 
		max-width: 300px; 
		aside{
			margin: 0; 
		}
	}

	.wrapper-line{
		border-bottom: 2px solid $secondary-color; 
		@extend .p-def-padding; 
	}.wrapper-line:after{
		@extend .clearfix; 
	}

	//Navigation
	nav{
		float: right; 
		display: inline-block; 
		width: auto !important; 

		.current_page_item a{
			border-bottom: 3px solid $primary-color;		
		}

		li{
			margin-right: 5px;
		}li:last-child{
			margin-right: 0; 
		}

		a{
			padding: 15px;
			font-size: 120%;
			font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
			text-transform: uppercase; 
			letter-spacing: 4px; 
			color: $primary-color;
		}a:hover, a:active{
			text-decoration: none; 
			border-bottom: 3px solid $primary-color;
		}
	}

	.menu-toggle{
		@extend .p-button-reset;
		margin-left: auto;
		margin-right: auto;

		font-size: 150%;
		width: 100%;
		font-weight: bold;
		background-color: $primary-color;
	}

}