#above-content,
#below-content{
	@extend .row; 
	color: $secondary-color;
	font-family: Georgia, serif;

	h1{
		@extend .p-header-secondary; 
		text-decoration: underline; 
	}

	aside:nth-child(1),
	aside:nth-child(5){
		width: 100%;
		clear: both; 
	}
	aside:nth-child(2),
	aside:nth-child(3),
	aside:nth-child(4){ 
		@extend .col-sm-4;
		text-align: center; 
	}
}

#content{
	font-family: Georgia, serif;
	#primary{
		@extend .col-sm-8;

		.entry-header{ 
			@extend .p-header-primary;
		}

		.entry-content{
			padding: 15px; 
			font-size: 120%;
			font-family: Georgia, serif;
		}

		article{
			background-color: lighten( $primary-color, 5%);
		}
	}

	#secondary{
		@extend .col-sm-4;
		color: #999;

		.widget-title{ @extend .p-header-secondary; }

		ul, div{
			padding: 10px; 
		}
	}

	#secondary,
	#primary{
		a{ color: $tertiary-color;  }
	}


	.cat-links a{
		margin: 0;
		padding: 8px; 
		background-color: $grey-color; 
		display: inline-block;
	}.cat-links a:hover{
		text-decoration: none; 
		display: inline-block; 
	}

	.tags-links a{
		margin: 0;
		padding: 4px; 
		background-color: #fff;
	}

	.cat-links a,
	.tags-links a{
		margin-bottom: 5px;
	}

	.page-header{
		color: $primary-color; 
		border-bottom: 3px solid $grey-color; 
	}

}