#above-content,
#below-content{
	@extend .row; 
	color: $secondary-color;
	font-family: Georgia, serif;

	h1{
		@extend .p-header-secondary; 
		text-decoration: underline; 
	}

	aside:nth-child(1),
	aside:nth-child(5){
		width: 100%;
		clear: both; 
	}
	aside:nth-child(2),
	aside:nth-child(3),
	aside:nth-child(4){ 
		@extend .col-sm-4;
		text-align: center; 
		div{
			padding: 15px;
		}
	}
}

/*Home Page Settings*/
.home.blog{

	.front-header{
		text-align: center; 
		color: $primary-color;
		text-decoration: underline; 
	}

	#primary{
		width: 100% !important;

		#main{
			@extend .row; 
		}
	}
}

#content{
	font-family: Georgia, serif;


	/***********************
	* Primary Content Area
	***********************/
		#primary{
			@extend .col-sm-8;

			.entry-header, .page-header{ 
				@extend .p-header-primary;
			}

			.entry-content, 
			.page-content,
			.entry-summary{
				padding: 15px; 
				font-size: 120%;
				font-family: Georgia, serif;
			}

			article, section{
				background-color: lighten( $primary-color, 5%);
			}

			.GMEPLG-news-main-header{
				@extend .p-header-secondary;

				text-align: center; 
				color: $secondary-color;
				margin: 20px 0;  
			}

			.footer-title{
				text-align: center; 
			}

			footer{
				text-align: center;
				background-color: $secondary-color; 
				padding: 5px; 
				border-top: 4px solid $grey-color; 

				.cat-links a{
					border-radius: 4px; 
				}

				.tags-links{
					display: block; 
					padding: 6px;

					a{
						border-right: 2px solid $tertiary-color; 
						padding: 2px; 
						padding-right: 4px; 
					}a:last-child{
						border: none; 
					}
				}
			}
		}

	#secondary{
		@extend .col-sm-4;
		color: #999;

		.widget-title{ @extend .p-header-secondary; }

		ul, div{
			padding: 10px; 
		}

		.widget_search .search-field,
		.widget_search label{
			width: 100%;
			text-align: center; 
		}


	}

	#secondary,
	#primary{
		a{ color: $tertiary-color;  }
	}


	.cat-links a{
		margin: 0;
		padding: 8px; 
		background-color: $grey-color; 
		display: inline-block;
	}.cat-links a:hover{
		text-decoration: none; 
		display: inline-block; 
	}

	.cat-links .tags-links a{
		margin: 0;
		padding: 4px; 
		background-color: #fff;
	}

	.cat-links a,
	.tags-links a{
		//margin-bottom: 5px;
	}

	.page-header{
		color: $primary-color; 
		border-bottom: 3px solid $grey-color; 
	}

	.type-pt_games.ar_shortcode{
		padding: 10px 0;
		border-bottom: 3px solid $grey-color; 
		text-align: center;
		
		a:first-child:hover{
			text-decoration: none; 
		}
		h1{
			//border-bottom: 2px solid $tertiary-color;
			@extend .p-header-primary;
			color: $tertiary-color;
			font-size: 180%;
		}

		.GMEPLG-image img{
			width: 100%;
			height: auto;
		}
	}

	.media-list{
		margin:0; 
	}

	.GMEPLG-excerpt{
		padding: 20px;
	}

	.GMEPLG-gj{
		h1 { margin: 0; }
		a{
			display: inline-block; 
			background-color: $grey-color;
			padding: 18px;
			border-radius: 5px; 
			h1 { color: $secondary-color; }
		}a:hover{
			text-decoration: none; 
		}
	}

	.GMEPLG-news .GMEPLG-news-header{
		@extend .p-header-primary;
	}.GMEPLG-news a:first-child:hover{
		text-decoration: none; 
	}

	.GMEPLG-news .GMEPLG-update-content{
		padding: 20px;
	}

	.tn-image img{
		width: 100%;
		height: auto;
	}

	/* The news shortcode 
	.front-page-news-wrapper{
		@extend .row;

		article{ @extend .col-sm-3; }
	}
	*/

}

/*********************
* Shortcode CSS
*********************/
	//Front Page class and modifications
	#above-content, 
	#below-content{
		.front-page-news-wrapper{ 
			@extend .row; 
			margin: 0;
		}
		.front-page-news{
			//border: 3px solid red; 
			@extend .col-sm-3;
			margin-top: 25px; 

			text-align: center; 
			background-color: transparent !important; 

			a{
				text-decoration: none; 
			}

			.tn-image{
				height: 50px; 
				overflow: hidden; 
				background-color: #222;
				vertical-align: middle; 
				img{
					width: 100%;
					height: auto; 
				}
				p{
					color: $tertiary-color; 
					font-weight: normal; 
				}
			}.tn-image.no-image img{
				//margin-top: -65px; 
			}

			p{
				margin-top: 8px;
				color: #222; 
				font-weight: bold; 
			}

			.article-wrapper{
				background-color: $primary-color; 
				height: 110px; 		
				padding: 6px; 
			}

			h1, h3{
				display: inline-block; 
				margin: 0;
				padding: 0; 
			}h3{
				padding: 8px 0; 
			}
		}	
	}	

/********************
* Page Templates CSS
********************/
	.full-content-area{
		width: 100% !important; 
		padding-left: 0 !important; 
		padding-right: 0 !important; 
	}

/********************
* Widget Adjustments
********************/
	.widget-title{
		text-align: center; 
	}

	#page{
		#above-content,
		#below-content{
			margin-left: 0 !important;
			margin-right: 0 !important; 
		}	
	}

/******************
* Archive Rules
******************/
.archive #page{

	#main{
		.page-header{
			margin-bottom: 1.5em; 
			border-bottom: none; 
		}
	}
}

/***************************
* Social Media Modifications
***************************/

#fb-root,
.fb-page{
	padding: 0 !important;
	margin: 0 !important; 
}
